<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="main/public :: #public_head">
</head>
<body>

<header class="publicHeader" th:replace="main/public :: #public_header">

</header>

<section class="publicTime" th:replace="main/public :: #public_time">

</section>

<section class="publicMian ">
    <div class="left" th:replace="main/public :: #public_left(activeUri='pwd')">
    </div>
        <div class="right">
            <div class="location">
                <strong>LOCATION:</strong>
                <span>PASSWORD</span>
            </div>
            <div class="providerAdd">
                <form id="pwdForm" th:action="@{/user/pwd}" action="#"  method="post">

                    <div class="">
                        <label for="oldPassword">OLD PASSWORD：</label>
                        <input type="password"  id="oldPassword" autofocus="autofocus" required/>
                        <span id="pwdText">*NEW PASSWORD</span>
                    </div>
                    <div>
                        <label for="newPassword">NEW PASSWORD：</label>
                        <input type="password"  id="newPassword" required/>
                        <span id="newPwdText">*NEW PASSWORD</span>
                    </div>
                    <div>
                        <label for="reNewPassword">CONFIRM：</label>
                        <input type="password"  name="password" id="reNewPassword" required/>
                        <span id="reNewPwdText" >*CONFIRM TWO PASSWORD ARE SAME</span>
                    </div>
                    <div class="providerAddBtn">

                        <input type="button" value="SAVE" id="save"/>
                    </div>
                </form>
            </div>
        </div>
    </section>


<script th:src="@{/webjars/jquery/3.3.1/jquery.js}" ></script>

<script type="text/javascript" th:inline="javascript">

    $(function () {
        var isCheck = false;

        $("#oldPassword").blur(function () {
            var oldPassword = $(this).val().trim();
            if(!oldPassword) {
                $('#pwdText').css('color', 'red');
                isCheck = false;
                return ;
            }



            var url = [[@{/user/pwd/}]] + oldPassword;

            $.ajax({
                url: url,
                dataType: 'json',
                method: 'GET',
                success: function (data) {
                    isCheck = data;
                    data ? $("#pwdText").replaceWith("<span id='pwdText'>*WRONG</span>")
                        : $("#pwdText").replaceWith("<span id='pwdText' style='color: red'>*WRONG</span>");
                },
                error: function () {
                    $('#pwdText').html("ERROR");
                    isCheck = false;
                }
            });
        });

        $("#save").click(function () {

            if(isCheck) {
                if($("#newPassword").val() && $("#reNewPassword").val()
                    && $("#newPassword").val() == $("#reNewPassword").val()) {
                    $("#pwdForm").submit();
                }else{
                    $("#reNewPwdText").replaceWith("<span id='reNewPwdText' style='color: red'>*MATCH PASSWORD</span>");
                }
            }

        });
    });
</script>

<!--
	<script src="js/time.js"></script>
	-->
</body>
</html>