<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" id="public_head">
    <meta charset="UTF-8">
    <title>BILL MANAGE SYSTEM</title>
    <link rel="stylesheet" th:href="@{/css/public.css}" href="../css/public.css"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../css/style.css"/>
</head>
<body>

<header class="publicHeader" id="public_header">
    <h1>BILL MANAGE SYSTEM</h1>
    <div class="publicHeaderR">
        <p><span>AFTERNOON！</span><span style="color: #fff21b"> [[${session.loginUser.username}]]</span> , WELCOME！</p>
        <a href="../main/login.html">EXIT</a>
    </div>
</header>

<section class="publicTime" id="public_time">
    <span id="time">HI</span>
    <a href="#">PLEASE USER CHROME</a>
</section>

<section class="publicMain">
    <div class="left" id="public_left">
        <h2 class="leftH2"><span class="span1"></span>FUNCTION <span></span></h2>
        <nav>
            <ul class="list">
                <li th:id="${activeUri=='bill'?'active':''}"><a th:href="@{/bills}" href="../bill/list.html">BILL</a>
                </li>
                <li th:id="${activeUri=='provider'?'active':''}"><a th:href="@{/providers}" href="providerList.html">PROVIDER</a>
                </li>
                <li th:id="${activeUri=='user'?'active':''}"><a th:href="@{/users}" href="userList.html">USER</a></li>
                <li th:id="${activeUri=='pwd'?'active':''}"><a th:href="@{/user/pwd}" href="password.html">PASSWORD</a></li>

            </ul>
        </nav>
    </div>
    <div class="right">
        public page
    </div>
</section>
<footer class="footer" id="public_footer">

</footer>
<!--
<script src="js/time.js"></script>
-->
</body>
</html>